version: "3.7"
services:
  #outro container --- backend
  springweb:
    container_name: dockerback
    build: . #preciso do Dockerfile para gerar a imagem
    image: "tizuey/grape"
    ports:
      - "9000:9000"
    networks:
      - servers

    environment:
      - SPRING_PROFILES_ACTIVE=docker



networks:
  servers:
    driver: bridge




