.shoppingCart{
    background-color: $bg_color;
  }
  
  .shoppingCart__Card{
    width: 100vw;
    height: 70vh;
    background-color: white;
  }
  
  .purchaseSummary{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    background-color: #29232c;
    border-radius: 15px;
  }
  
  .itemPurchase{
    width: 30vw;
    height: 30vh;
    padding: 1rem;
  }
  

  .purchaseOptions{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .btn__options{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    width: 65vw;
    background-color: white;
    color: black;
    border: solid white 1px;
    border-radius: 10px;
  }
  
  .btn__options button{
    background: transparent;
    border: none;
    color: black;
  }