/* ____ Fonte = Roboto || Categoria dos vinhos____ */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100&family=Source+Code+Pro:wght@500&display=swap");
/* ____ Fonte = Garamond || titulo dos vinhos____ */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
/* ____ Fonte = Bellefair || ranking____ */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

body {
  background-color: #231f2a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: x-small;
    width: 100vw;
    height: 30vh;
    background-color: #000;
    color: white;
} */

.shoppingCart {
    background: transparent;
    border: none;
    padding: 0%;
}

.nav-link>svg {
    width: 50px;
    height: auto;
    color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
  margin-top: 1.5rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

.nav-link {
  color: white;
}

.nav-link img {
  color: white;
  width: 5rem;
  height: 5rem;
  /* margin-left: 21vh; */
}

.toggle {
  background-color: white;
  color: white;
}

span .navbar-toggler-icon {
  color: white;
}
/* .navbar input {
    width: 50vw;
    padding: 10px;
} */

/* #sidebar {
    height: 100vh;
    padding: 0px 10px 0px 50px;
    position: fixed;
    min-width: 250px;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 1;
    background-color: #B8ACA0;
}

.sidebar--open {
    height: 100vh;
    padding: 0px 10px 0px 50px;
    position: fixed;
    min-width: 250px;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 1;
    transition: all .5s;
    transform: translateX(0);
}

.sidebar--close {
    height: 100vh;
    padding: 0px 10px 0px 50px;
    position: fixed;
    min-width: 250px;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 1;
    transition: all .5s;
    transform: translateX(-250px);
} */

#adega {
  margin-top: 1rem;
  width: 50vw;
  height: 20vh;
}

.wineHouse {
  width: 100vw;
  height: 30vh;
  background-color: black;
  margin-top: 19vh;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.carousel-item {
  height: 70vh;
  width: 100%;
}

.harmony {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #000;
}

.footer {
  margin-top: 2rem;
  width: 100vw;
  height: 25vh;
  background-color: #000;
  background-image: url(./assets/Icones/LogoFooter_Básico.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Top Wines */

/* _______Corpo Melhores Vinhos_____ */
.MelhoresVinhos {
  background-color: #000000;
  height: 135vh;
  width: 100vw;
  /* padding-top: 6%;*/
  /* padding-left: 6%;  */
}

.titulo_mv {
  font-size: 180%;
  font-family: roboto;
}

.titulo_margin {
  padding: 5%;
}

/*________________________________ vinhos 1 2 3 _______________________________*/

/* _____Alinhamento dos 3 vinhos_____ */
.bestTres {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

/* _____Alinhamento de box vinho_____ */
.alinhar_mv {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* _____Alinhar Vinho e o Um____ */
.alinharUm {
  width: 50vw;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.Um {
  margin-right: 30%;
  font-family: Bellefair;
  padding-top: 8%;
  background-color: #29232c;
  height: 13vh;
  width: 24vw;
  border-radius: 100%;
  text-align: center;
  font-size: 300%;
  /* Para deixar o vinha na frente do circulo */
  position: relative;
  background-position-y: 80px;
}

/* ____Alinhamento da Descrição____ */
.descricaoVinho {
  width: 35vw;
  margin-top: 50%;
  position: absolute;
  text-align: center;
}

.titulo_Vinho {
  font-size: 260%;
  font-family: Cormorant Garamond;
}

.categoria_Vinho {
  font-family: roboto;
  font-size: 90%;
}

/* _____Vinho 1_____ */
.best1 {
  background: transparent;
  background-image: url(../src/assets/Vinho_Tinto/vik_chile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  width: 35vw;
  /* Para deixar o vinha na frente do circulo */
  position: absolute;
  background-position-y: -6px;
  background-position-x: 2px;
}

/* _____Alinhamento dos vinhos 2 e 3_____ */
.bestDois {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

/* _____Ranking 2 e 3_____ */
.DoisTres {
  font-family: Bellefair;
  margin-right: 30%;
  padding: 5%;
  background-color: #29232c;
  height: 9vh;
  width: 18vw;
  border-radius: 100%;
  text-align: center;
  font-size: 250%;
  /* Para deixar o vinha na frente do circulo */
  position: relative;
}

.alinharDoisTres {
  width: 40vw;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.tituloVinho {
  font-size: 180%;
  font-family: Cormorant Garamond;
}

.categoriaVinho {
  font-family: roboto;
  font-size: 70%;
}

.best2 {
  background: transparent;
  background-image: url(../src/assets/Vinho_Branco/VeuveClicquot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  width: 30vw;
  position: absolute;
  background-position-y: -6px;
  background-position-x: -10px;
}

.best3 {
  background: transparent;
  background-image: url(../src/assets/Vinho_Tinto/calitera.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 27vh;
  width: 30vw;
  position: absolute;
  background-position-y: 1px;
  background-position-x: 25px;
}

/*________________________________ vinhos lista 4 _______________________________*/

.boxwine {
  margin-top: 20%;
  width: 100%;
  height: 27vh;
  background-color: #29232c;
}

/* _____ alinhamento dos 4 vinhos */
.alinhar4 {
  padding-top: 4%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.vinho4 {
  background: transparent;
  background-image: url(../src/assets/Vinho_Tinto/Codici.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 11vw;
  height: 23vh;
}

.vinho5 {
  background: transparent;
  background-image: url(../src/assets/Vinho_Tinto/manikay_australia.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 11vw;
  height: 23vh;
}

.vinho6 {
  background: transparent;
  background-image: url(../src/assets/Vinho_Branco/RioFlor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 22vh;
}

.vinho7 {
  background: transparent;
  background-image: url(../src/assets/Vinho_Verde/Aveleda.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 9.8vw;
  height: 22vh;
}

.nav-off{
  max-width: 75vw;
}

@media (max-width: 768px)
{
  .nav-off {
    width: 100vw;
  }
}