.footer {
    margin-top: 2rem;
    width: 100vw;
    height: 25vh;
    background-color: #000;
    background-image: url(./assets/Icones/LogoFooter_Básico.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }