/* ____ Fonte = Roboto || Categoria dos vinhos____ */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100&family=Source+Code+Pro:wght@500&display=swap");
/* ____ Fonte = Garamond || titulo dos vinhos____ */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
/* ____ Fonte = Bellefair || ranking____ */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

// fontes
$Font_Number: Bellefair;
$Font_Wine_Title: Garamond;
$Font_Everything: Roboto;

// Cores
$bg_color:#000000 ;
$bg_color2:#29232c;
$bg_color3:#231f2a;
